<template>
  <div class="styleguide">
    <h1>Styleguide</h1>
    <div class="demo">
      <h1>test</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'styleguide',
  data{{#unless_eq lintConfig "airbnb"}} {{/unless_eq}}() {
    return {
      msg: 'Welcome to Your Vue.js Custom PWA'{{#if_eq lintConfig "airbnb"}},{{/if_eq}}
    }{{#if_eq lintConfig "airbnb"}};{{/if_eq}}
  }{{#if_eq lintConfig "airbnb"}},{{/if_eq}}
}{{#if_eq lintConfig "airbnb"}};{{/if_eq}}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style{{#preProcessor}} lang="scss"{{/preProcessor}}>
h1 {
  color: #00f;
}
{{#preProcessor}}
.demo {
  h1 {
    color: #333;
  }
}
{{else}}
.demo h1 {
  color: #333;
}
{{/preProcessor}}
</style>
